@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    justify-items : center;
    height:100vh;
    align-content:center;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

table, th, td {
    border: 3px solid rgb(115, 90, 90);
    border-radius: 10px;
    border-spacing: 5px;
    border-collapse:separate;
    padding: 10px;
    text-align: center;

}